*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
.idea/
*.iml
*.ipr
*.iws
.navigation/
captures/
output.json
.cxx/
app/release/
app/debug/
